---
---

@import "{{ site.theme }}";
.content ul li h2{
    margin-top:0;
}
.content ul {
    padding-inline-start: 0px;
}
.content ul li {
    margin: 2rem auto;
    list-style: none;
}
.content .read-more {
    text-align: right;
}
.content .read-more div {
    float: left;
}
.main-nav ul li{
	display:inline-block;
	padding:5px 15px;
}
.main-nav{
	text-align:center;
}